/*======================================
        Helper
======================================*/
.is_pc {
    display: inherit;
}
.is_sp {
    display: none;
}
.is_hidden {
    display: none;
}
.tar {
    text-align: right;
}
.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.float_left {
    float: left;
}
.float_right {
    float: right!important;
}
.brd_none {
    border: 0!important;
}
.white {
    color: $color-a!important;
}
.mr0 {
    margin-right: 0!important;
}
@keyframes bgSlide {
	0% {
    background-position: 150vw 100%;
  }
  20% {
		background-position: center 100%;
  }
  30% {
    background-position: center 100%;
  }
  60% {
		background-position: -150vw 100%;
  }
  100% {
    background-position: -200vw 100%;
  }
}
@-moz-keyframes bgSlide {
	0% {
    background-position: 150vw 100%;
  }
  20% {
		background-position: center 100%;
  }
  30% {
    background-position: center 100%;
  }
  60% {
		background-position: -150vw 100%;
  }
  100% {
    background-position: -200vw 100%;
  }
}
@-ms-keyframes bgSlide {
	0% {
    background-position: 150vw 100%;
  }
  20% {
		background-position: center 100%;
  }
  30% {
    background-position: center 100%;
  }
  60% {
		background-position: -150vw 100%;
  }
  100% {
    background-position: -200vw 100%;
  }
}
@-o-keyframes bgSlide {
	0% {
    background-position: 150vw 100%;
  }
  20% {
		background-position: center 100%;
  }
  30% {
    background-position: center 100%;
  }
  60% {
		background-position: -150vw 100%;
  }
  100% {
    background-position: -200vw 100%;
  }
}

.slide_item {
    animation: bgSlide 10s linear infinite 0s;
    background-size: 30vw 100%;
    &.bg_main-shadow2 {
        background: url('../images/main_visual-img_2.png') no-repeat bottom;
        background-position: 150vw 100%;
    }
    &.bg_main-shadow3 {
        background: url('../images/main_visual-img_3.png') no-repeat bottom;
        background-position: 150vw 100%;
        animation-delay: 3.5s;
    }
    &.bg_main-shadow4 {
        background: url('../images/main_visual-img_4.png') no-repeat bottom;
        background-position: 150vw 100%;
        animation-delay: 7s;
    }
    &.bg_main-shadow5 {
        background: url('../images/main_visual-img_5.png') no-repeat bottom;
        background-position: 150vw 100%;
        animation-delay: 10.5s;
    }
}
@keyframes shadowBgSp {
    0% {
        left: 200%;
    }
    100% {
        left: 100%;
    }
}
