/*    main_visual
------------------------------------*/
.main_visual {
    height: 680px;
    background: url('../images/main.png') no-repeat left center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .title_h2 {
        margin-right: 6%;
    }
}
/*    section_01
------------------------------------*/
.section_01 {
    padding: 65px 0 105px;
    .title_h2 {
        padding-bottom: 85px;
    }
    .listItems {
        display: flex;
        justify-content: space-between;
        .title_h3 {
            padding-bottom: 30px;
        }
        .text {
            color: #383b41;
        }
        ul {
            padding: 25px 0;
        }
        .items {
            &:nth-child(odd) {
                padding-right: 28px;
            }
            &:nth-child(even) {
                padding-left: 28px;
            }
        }
    }
    .avatar {
        padding-top: 65px;
    }
    .listItem_02 {
        padding-top: 70px;
        .avatar {
            padding-top: 75px;
        }
    }
    .note {
        padding-top: 25px;
    }
}
/*    section_02
------------------------------------*/
.section_02 {
    padding-top: 70px;
    background: #383b41;
    text-align: center;
    .description {
        padding: 95px 0 80px;
    }
    .text {
        line-height: 2;
        font-size: 16px;
        color: $color-a;
        max-width: 788px;
        margin: auto;
        margin-bottom: 40px;
    }
}
/*    section_03
------------------------------------*/
.section_03 {
    background: #f9c14a;
    padding: 95px 0 105px;
    .title_h2 {
        padding-bottom: 70px;
    }
}
/*    section_04
------------------------------------*/
.section_04 {
    background: #383b41;
    padding: 75px 0 95px;
    .title_h2 {
        padding-bottom: 75px;
    }
    .listItems {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .items {
            padding: 30px;
            color: #383b41;
            text-align: center;
            width: calc(50% - 12px);
            background: $color-a;
        }
        .title_h3 {
            font-size: 2.2rem;
            font-weight: bold;
            padding-bottom: 20px;
        }
    }
    .btn {
        padding-top: 20px;
        max-width: 330px;
        margin: auto;
        a {
            display: block;
            background: #ffca00;
            border-radius: 50px;
            padding: 22px 0 20px;
            font-weight: bold;
            font-size: 18px;
        }
    }
}
/*    main_visual
------------------------------------*/
