/*    main_visual
------------------------------------*/
.main_visual {
    position: fixed;
    left: 0;
    right: 0;
    height: 680px;
    background: url('../images/main.jpg') no-repeat left center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .title_h2 {
        margin-left: 6%;
    }
}
.main {
    overflow: hidden;
    position: relative;
    z-index: 999;
    background: $color-a;
    margin-top: 680px;
}
/*    section_01
------------------------------------*/
.section_01 {
    padding: 65px 0 105px;
    position: relative;
    .container {
        position: relative;
        z-index: 9;
    }
    .text_tit {
        font-size: 1.6rem;
        text-align: center;
        line-height: 1.5;
        padding: 40px 0 50px;
        color: #383b41;
    }
    .paralax1 {
        z-index: -1;
        background: url('../images/bg_scroll.png') no-repeat top center;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        height: 603px;
        z-index: -1;
    }
    .items {
        width: 50%;
    }
    .listItems {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .title_h3 {
            padding-bottom: 30px;
        }
        .text {
            color: #383b41;
        }
        ul {
            line-height: 1.5;
            padding: 25px 0;
        }
        .items {
            &:nth-child(odd) {
                padding-right: 28px;
            }
            &:nth-child(even) {
                padding-left: 28px;
            }
        }
    }
    .avatar {
        padding-top: 65px;
    }
    .listItem_02 {
        padding-top: 70px;
        .avatar {
            padding-top: 75px;
        }
    }
    .note {
        padding-top: 25px;
    }
}
/*    section_02
------------------------------------*/
.section_02 {
    padding-top: 70px;
    background: url('../images/bg_02.jpg') #383b41 no-repeat center bottom;
    background-size: cover;
    .description {
        padding: 95px 0 80px;
    }
    .note_right {
        text-align: right;
        span {
            display: block;
            padding-top: 15px;
        }
    }
    .text {
        line-height: 2;
        font-size: 16px;
        color: $color-a;
        max-width: 788px;
        margin: auto;
        margin-bottom: 40px;
    }
}
/*    section_03
------------------------------------*/
.section_03 {
    background: #ffca00;
    padding: 70px 0 120px;
    .title_h2 {
        padding-bottom: 80px;
    }
    .img_banner {
        display: flex;
        align-items: center;
        .items {
            &:not(:first-child) {
                padding-left: 5px;
            }
        }
    }
    .text {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 25px;
        color: #383b41;
    }
}
/*    section_04
------------------------------------*/
.section_04 {
    background: #383b41;
    padding: 75px 0 95px;
    .title_h2 {
        padding-bottom: 75px;
    }
    .listItems {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .items {
            margin-bottom: 20px;
            padding: 30px;
            color: #383b41;
            text-align: center;
            width: calc(50% - 12px);
            background: $color-a;
        }
        .title_h3 {
            font-size: 2.2rem;
            font-weight: bold;
            padding-bottom: 20px;
        }
    }
    .btn {
        padding-top: 20px;
        margin: auto;
    }
}
/*    main_visual
------------------------------------*/
