.page-body {
    background: $color-a;
}
/*    main_visual
------------------------------------*/
.main_visual {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // height: 100%;
    background: url('../images/bg_main.jpg') no-repeat left center;
    background-size: cover;
    .main_visual_wrap {
        position: relative;
    }
    .bg_main-shadow2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .bg_main-shadow3 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .bg_main-shadow4 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .bg_main-shadow5 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .main_visual_in {
        position: relative;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // width: 100%;
        height: 620px;
        margin-right: -140px;
        background: url('../images/main_visual-img_1.png') no-repeat right bottom;
    }
    .title_h2 {
        margin-left: -62px;
    }
    &.removeBg {
        background: $color-a!important;
        .main_visual_in {
            background: $color-a!important;
        }
    }
}
.main {
    overflow: hidden;
    position: relative;
    z-index: 999;
    background: $color-a;
    margin-top: 620px;
}
/*    section_01
------------------------------------*/
.section_01 {
    background: #f8f9fa;
    padding: 70px 0 105px;
    position: relative;
    overflow: hidden;
    .container {
        max-width: 1043px;
        padding: 0 20px;
        position: relative;
        z-index: 9;
    }
    .text_tit {
        font-size: 1.6rem;
        text-align: center;
        line-height: 1.5;
        padding: 40px 0 50px;
        color: #383b41;
    }
    .paralax_wrap {
        padding: 0 20px;
        position: relative;
    }
    .paralax1 {
        background: url('../images/bg_paralax1.png') no-repeat;
        position: absolute;
        top: -50px;
        left: 50%;
        margin-left: -750px;
        height: 200px;
        z-index: 1;
        width: 312px;
    }
    .paralax2 {
        background: url('../images/bg_paralax2.png') no-repeat;
        position: absolute;
        top: -50px;
        right: 50%;
        margin-right: -720px;
        height: 292px;
        z-index: 1;
        width: 318px;
    }
    .paralax3 {
        background: url('../images/bg_paralax3.png') no-repeat;
        position: absolute;
        bottom: 150px;
        right: 50%;
        margin-right: -820px;
        height: 302px;
        z-index: 1;
        width: 280px;
    }
    .paralax4 {
        background: url('../images/bg_paralax4.png') no-repeat;
        position: absolute;
        bottom: -125px;
        left: 50%;
        margin-left: -750px;
        height: 277px;
        z-index: 1;
        width: 303px;
    }
    .items {
        width: 50%;
    }
    .listItems {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .title_h3 {
            padding-bottom: 30px;
        }
        .text {
            color: #383b41;
        }
        ul {
            padding: 25px 0;
        }
        .items {
            &:nth-child(odd) {
                padding-right: 28px;
            }
            &:nth-child(even) {
                padding-left: 28px;
            }
        }
    }
    .avatar {
        padding-top: 65px;
    }
    .listItem_02 {
        padding-top: 70px;
        .avatar {
            padding-top: 75px;
        }
    }
    .note {
        padding-top: 25px;
        li {
            text-indent: -14px;
            padding-left: 14px;
        }
    }
    .space {
        display: inline-block;
    }
}
/*    section_02
------------------------------------*/
.section_02 {
    padding-top: 70px;
    background: url('../images/bg_02.jpg') #383b41 no-repeat center bottom;
    background-size: 100%;
    .container {
        max-width: 1043px;
        padding: 0 20px;
    }
    .description {
        padding: 95px 0 80px;
    }
    .note_right {
        text-align: right;
        span {
            font-size: 2rem;
            display: block;
            padding-top: 15px;
        }
    }
    .text {
        line-height: 2.5;
        font-size: 16px;
        color: $color-a;
        // max-width: 788px;
        margin: auto;
        margin-bottom: 40px;
    }
}
/*    section_03
------------------------------------*/
.section_03 {
    background: #ffca00;
    padding: 70px 0 120px;
    .container {
        max-width: 1043px;
        padding: 0px 20px;
    }
    .title_h2 {
        padding-bottom: 80px;
    }
    .img_banner {
        display: flex;
        align-items: center;
        .items {
            &:not(:first-child) {
                padding-left: 5px;
            }
        }
    }
    .text {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 25px;
        color: #383b41;
        margin-right: 20px;
    }
}
/*    section_04
------------------------------------*/
.section_04 {
    background: #383b41;
    padding: 70px 0 95px;
    .container {
        max-width: 1043px;
        padding: 0 20px;
    }
    .title_h2 {
        padding-bottom: 75px;
    }
    .listItems {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .items {
            margin-bottom: 24px;
            padding: 25px 30px 30px 30px;
            color: #383b41;
            text-align: center;
            width: calc(50% - 12px);
            background: $color-a;
        }
        .title_h3 {
            line-height: 1.5;
            font-size: 2.2rem;
            font-weight: bold;
            padding-bottom: 18px;
        }
    }
    .btn {
        padding-top: 20px;
        margin: auto;
        a {
            background: #fab32b;
            max-width: 330px;
            width: 100%;
            display: block;
            margin: auto;
            padding: 20px;
            border-radius: 50px;
            position: relative;
            z-index: 2;
            font-size: 1.8rem;
            font-weight: bold;
            &:before {
                content: "";
                border-radius: 50px;
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 3px;
                background: #ffca00;
            }
            &:after {
                content: "";
                position: absolute;
                top: calc(50% - 8px);
                right: 83px;
                z-index: 9;
                background: url('../images/icon_btn.png') no-repeat;
                width: 18px;
                height: 15px;
            }
        }
    }
}
