/*-----------------------
        Responsive for device < 1300px
-----------------------------------------*/
@media screen and (max-width: 1300px) {
    .section_01 {
        .paralax1 {
            // left: 70%;
            margin-left: -60%;
        }
        .paralax2 {
            // right: 70%;
            margin-right: -60%;
        }
        .paralax3 {
            // right: 70%;
            margin-right: -60%;
        }
        .paralax4 {
            // left: 70%;
            margin-left: -60%;
        }
    }
}
/*-----------------------
        Responsive for device < 1160px
-----------------------------------------*/
@media screen and (max-width: 1160px) {
    .main_visual {
        background-size: cover!important;
        .container {
            padding: 0;
        }
        .title_h2 {
            margin-left: 5%;
        }
    }
}
/*-----------------------
        Responsive for device < 1020px
-----------------------------------------*/
@media screen and (max-width: 1020px) {
    .header {
        .logo {
            width: 25%;
        }
        .nav {
            width: 75%;
        }
        .nav_list {
            li {
                padding-right: 0!important;
                &:not(:first-child) {
                    padding-left: 3%;
                }
            }
        }
    }
}
/*-----------------------
        Responsive for device < 767px
-----------------------------------------*/
@media screen and (max-width: 767px) {
    .is_pc {
        display: none;
    }
    .is_sp {
        display: inherit;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .p_sp {
        width: 270px;
    }
    /*------------------- Typography_SP -------------------*/
    .title_h2 {
        width: 270px;
        margin: auto;
        .tit_txt {
            font-size: 2rem;
            margin-top: -8px;
        }
    }
    .title_h3 {
        .tit_txt {
            font-size: 2.3rem;
            line-height: 1.5;
        }
    }
    .text {
        font-size: 1.2rem;
    }
    .header {
        justify-content: space-between;
        .logo {
            width: 147px;
            text-align: center;
        }
        .nav {
            width: 40%;
        }
        .nav_list {
            li {
                font-size: 1.8rem;
                text-align: right;
                width: 70px;
                &:not(:first-child) {
                    padding-left: 0;
                }
                &:not(:last-child) {
                    display: none;
                }
            }
        }
        .nav_button {
            // display: inline-block!important;
        }
    }
    .main_visual {
        height: 528px;
        background: url('../images/bg_main_sp.jpg') no-repeat bottom center;
        .main_visual_wrap {
            position: relative;
        }
        .bg_main-shadow2 {
            position: absolute;
            width: 320px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('../images/main_visual-img_2_sp.png') no-repeat 32% 100%;
            // background-size: contain;
            background-size: 320px;
            animation: shadowBgSp infinite;
            animation-duration: 2500ms;
            -moz-animation: shadowBgSp infinite;
            -moz-animation-duration: 2500ms;
            -webkit-animation: shadowBgSp infinite;
            -webkit-animation-duration: 2500ms;
            -ms-animation: shadowBgSp infinite;
            -ms-animation-duration: 2500ms;
        }
        .bg_main-shadow3 {
            // position: absolute;
            // width: 320px;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            // background: url('../images/main_visual-img_3_sp.png') no-repeat 32% 100%;
            // // background-size: contain;
            // background-size: 320px;
            // animation: shadowBgSp infinite;
            // animation-duration: 2500ms;
            // -moz-animation: shadowBgSp infinite;
            // -moz-animation-duration: 2500ms;
            // -webkit-animation: shadowBgSp infinite;
            // -webkit-animation-duration: 2500ms;
            // -ms-animation: shadowBgSp infinite;
            // -ms-animation-duration: 2500ms;
            display: none;
        }
        .bg_main-shadow4 {
            // position: absolute;
            // width: 320px;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            // background: url('../images/main_visual-img_4_sp.png') no-repeat 32% 100%;
            // // background-size: contain;
            // background-size: 320px;
            // animation: shadowBgSp infinite;
            // animation-duration: 2500ms;
            // -moz-animation: shadowBgSp infinite;
            // -moz-animation-duration: 2500ms;
            // -webkit-animation: shadowBgSp infinite;
            // -webkit-animation-duration: 2500ms;
            // -ms-animation: shadowBgSp infinite;
            // -ms-animation-duration: 2500ms;
            display: none;
        }
        .bg_main-shadow5 {
            // position: absolute;
            // width: 320px;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            // background: url('../images/main_visual-img_5_sp.png') no-repeat 32% 100%;
            // // background-size: contain;
            // background-size: 320px;
            // animation: shadowBgSp infinite;
            // animation-duration: 2500ms;
            // -moz-animation: shadowBgSp infinite;
            // -moz-animation-duration: 2500ms;
            // -webkit-animation: shadowBgSp infinite;
            // -webkit-animation-duration: 2500ms;
            // -ms-animation: shadowBgSp infinite;
            // -ms-animation-duration: 2500ms;
            display: none;
        }

        .main_visual_in {
            align-items: flex-start;
            margin-right: 0;
            background: none;
            height: 528px;
            background: url('../images/main_visual-img_1_sp.png') no-repeat right bottom;
            // background-size: contain;
            background-size: 320px;
        }
        .title_h2 {
            margin-top: 30%;
            margin-left: auto;
            margin-right: auto;
            // width: 60%;
        }
    }
    .main {
        // margin-top: 635px;
        margin-top: 528px;
    }
    .section_01 {
        padding: 14px 0 60px;
        padding-bottom: 60px;
        .container {
            padding: 0 15px;
        }
        .text_tit {
            font-size: 1.1rem;
            padding: 20px 0 22px;
        }
        .bg_wrap {
            padding: 19px 5px 25px;
            background: rgba(248, 249, 250, 0.6);
        }
        .paralax_wrap {
            padding: 0;
        }
        .paralax1 {
            margin-left: 0;
            background: url('../images/bg_paralax1.jpg') no-repeat;
            background-size: contain;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 1;
            width: 101px;
        }
        .paralax2 {
            background: url('../images/bg_paralax2.jpg') no-repeat;
            background-size: contain;
            position: absolute;
            top: 0px;
            right: 0;
            z-index: 1;
            width: 118px;
            margin-right: 0;
        }
        .paralax3 {
            background: url('../images/bg_paralax3.jpg') no-repeat;
            position: absolute;
            background-size: contain;
            bottom: 150px;
            right: 0;
            z-index: 1;
            width: 72px;
            margin-right: 0;
        }
        .paralax4 {
            background: url('../images/bg_paralax4_sp.png') no-repeat;
            position: absolute;
            background-size: contain;
            bottom: -200px;
            left: 0;
            z-index: 1;
            width: 152px;
            margin-left: 0;
        }
        .listItems {
            .title_h3 {
                padding-bottom: 18px;
            }
            ul {
                padding: 28px 0;
            }
            .items {
                width: 100%;
                &:nth-child(odd) {
                    padding-right: 0;
                }
                &:nth-child(even) {
                    padding-left: 0;
                }
            }
        }
        .space {
            display: none;
        }
        .avatar {
            padding-top: 30px !important;
            text-align: center;
        }
        .listItem_02 {
            padding-top: 60px;
            flex-direction: column-reverse;
        }
        .note {
            li {
                text-indent: -12px;
                padding-left: 11px;
            }
        }
    }
    .section_02 {
        padding-top: 35px;
        background-image: url('../images/bg_02_sp.jpg');
        .description {
            padding: 50px 0 25px;
        }
        .text {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
        .note_right {
            .text {
                line-height: 1.7;
                font-size: 1rem;
            }
            span {
                padding-top: 8px;
                font-size: 1.3rem;
            }
        }
    }
    .section_03 {
        padding: 30px 0 35px;
        .fadeLeft {
            opacity: 0;
            transform: translate(0px, -50px);
            transition: all 0.6s;
            &.ef-slide {
                opacity: 1;
                transform: translate(0px, 0px);
                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}){
                        transition-delay: 150ms * $i;
                    }
                }
            }
        }
        .title_h2 {
            padding-bottom: 50px;
        }
        .img_banner {
            padding: 0 3.1%;
            flex-direction: column;
            .items {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                padding-bottom: 10px;
                &:not(:first-child) {
                    padding-left: 0;
                }
                &:last-child {
                    .text {
                        margin-top: 0;
                    }
                }
            }
            img {
                // width: 101px;
                width: 38.6%;
            }
            .text {
                text-align: left;
                width: 50%;
                // width: 50%;
                padding-top: 0;
                margin-right: 0;
                margin-top: -5.3%;
                font-size: 1.4rem;
            }
        }
    }
    .section_04 {
        padding: 40px 0 55px;
        .title_h2 {
            padding-bottom: 45px;
        }
        .listItems {
            .title_h3 {
                font-size: 1.5rem;
                padding-bottom: 12px;
            }
            .text {
                font-size: 1rem;
            }
            .items {
                width: 100%;
                margin-bottom: 15px;
                padding: 14px;
            }
        }
        .btn {
            max-width: 165px;
            padding-top: 10px;
            margin: auto;
            a {
                padding: 9px;
                font-size: 1rem;
                &:after {
                    top: calc(50% - 4px);
                    right: 20%;
                    width: 9px;
                    height: 7px;
                    background-size: contain;
                }
            }
        }
    }
    .footer {
        padding-top: 42px;
        .social {
            padding: 25px 0 40px;
            a {
                margin: 0 15px;
                width: 40px;
            }
        }
        .copyright {
            padding: 14px 0;
            font-size: .9rem;
        }
    }
}



@media screen and (max-width: 767px) and (orientation: landscape) {
    .main_visual {
        height: 320px;
        .title_h2 {
            margin-top: 5%;
        }
        .main_visual_in {
            height: 320px;
        }
    }
    .main {
        margin-top: 320px;
    }
    @keyframes shadowBgSp {
        0% {
            left: 200%;
        }
        50% {
            left: 55%;
        }
        60% {
            left: 55%;
        }
        70% {
            left: 55%;
        }
        100% {
            left: -200%;
        }
    }
}
