/*-----------------------
        Responsive for device < 1160px
-----------------------------------------*/
@media screen and (max-width: 1160px) {
    .main_visual {
        background-size: cover!important;
        .container {
            padding: 0;
        }
        .title_h2 {
            margin-left: 5%;
        }
    }
}
/*-----------------------
        Responsive for device < 1020px
-----------------------------------------*/
@media screen and (max-width: 1020px) {
    .header {
        .logo {
            width: 25%;
        }
        .nav {
            width: 75%;
        }
        .nav_list {
            li {
                padding-right: 0!important;
                &:not(:first-child) {
                    padding-left: 3%;
                }
            }
        }
    }
}
/*-----------------------
        Responsive for device < 767px
-----------------------------------------*/
@media screen and (max-width: 767px) {
    .is_pc {
        display: none;
    }
    .is_sp {
        display: inherit;
    }
    .container {
        padding-left: 4.7%;
        padding-right: 4.7%;
    }
    /*------------------- Typography_SP -------------------*/
    .title_h2 {
        // font-size: 24px;
        // color: $color-primary;
        // line-height: 1.8;
        // font-weight: bold;
        .tit_txt {
            font-size: 3rem;
        }
    }
    .title_h3 {
        .tit_txt {
            font-size: 3rem;
            line-height: 1.5;
        }
        // font-size: 24px;
        // line-height: 1.8;
        // color: $color-primary;
        // font-weight: bold;
    }
    .title_h4 {
        // font-size: 24px;
        // color: $color-primary;
        // line-height: 1.8;
        // font-weight: bold;
    }
    .text {
        // padding:
        font-size: 1.5rem;
        // color:
    }
    .header {
        .logo {
            width: 50%;
            text-align: center;

            // display: flex;
            // flex-wrap: wrap;
            // justify-content: space-between;
            // align-items: center;
        }
        .logo_in {
            // width: 50%;
        }
        // .toggle_nav {
        //     width: 25%;
        // }
        .nav {
            width: 50%;
        }
        .nav_list {
            li {
                font-size: 1.8rem;
                text-align: right;
                width: 50%;
                &:not(:first-child) {
                    padding-left: 0;
                }
                &:not(:last-child) {
                    display: none;
                }
            }
        }
        .nav_button {
            // display: inline-block!important;
        }
    }
    .main_visual {
        height: 520px;
        background: url('../images/bg_main_sp.jpg') no-repeat bottom center;
        .main_visual_in {
            align-items: flex-start;
            margin-right: 0;
            background: none;
            height: 520px;
            background: url('../images/main_visual-img_sp.png') no-repeat right bottom;
            background-size: contain;
        }
        .title_h2 {
            margin-left: 0;
            margin-top: 30%;
            // width: 60%;
        }
    }
    .main {
        // margin-top: 635px;
        margin-top: 520px;
    }
    .section_01 {
        padding: 0;
        .bg_wrap {
            padding: 30px 3.1% 80px;
            background: rgba(255, 255, 255, 0.6);
        }
        .paralax1 {
            background: url('../images/bg_paralax1.jpg') no-repeat;
            background-size: contain;
            position: absolute;
            top: -50px;
            left: 0;
            z-index: 1;
            width: 100px;
        }
        .paralax2 {
            background: url('../images/bg_paralax2.jpg') no-repeat;
            background-size: contain;
            position: absolute;
            top: -200px;
            right: 0;
            z-index: 1;
            width: 150px;
        }
        .paralax3 {
            background: url('../images/bg_paralax3.jpg') no-repeat;
            position: absolute;
            background-size: contain;
            bottom: 150px;
            right: 0;
            z-index: 1;
            width: 90px;
        }
        .paralax4 {
            background: url('../images/bg_paralax4.jpg') no-repeat;
            position: absolute;
            background-size: contain;
            bottom: -60px;
            left: 0;
            z-index: 1;
            width: 150px;
        }
        .listItems {
            .items {
                width: 100%;
                &:nth-child(odd) {
                    padding-right: 0;
                }
                &:nth-child(even) {
                    padding-left: 0;
                }
            }
        }
        .space {
            display: none;
        }
        .avatar {
            padding-top: 20px !important;
            text-align: center;
        }
        .listItem_02 {
            padding-top: 60px;
            flex-direction: column-reverse;
        }
    }
    .section_02 {
        padding-top: 35px;
        .description {
            padding: 50px 0 40px;
        }
        .text {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        .note_right {
            span {
                font-size: 1.7rem;
            }
        }
    }
    .section_03 {
        padding: 30px 0 35px;
        .fadeLeft {
            opacity: 0;
            transform: translate(0px, -50px);
            transition: all 0.6s;
            &.ef-slide {
                opacity: 1;
                transform: translate(0px, 0px);
                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}){
                        transition-delay: 150ms * $i;
                    }
                }
            }
        }
        .title_h2 {
            padding-bottom: 50px;
        }
        .img_banner {
            padding: 0 3.1%;
            flex-direction: column;
            .items {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                padding-bottom: 10px;
                &:last-child {
                    .text {
                        margin-top: 0;
                    }
                }
            }
            img {
                width: 40%;
            }
            .text {
                text-align: left;
                width: 50%;
                padding-top: 0;
                margin-right: 0;
                margin-top: -5.3%;
            }
        }
    }
    .section_04 {
        padding: 40px 0 70px;
        .title_h2 {
            padding-bottom: 45px;
        }
        .listItems {
            .items {
                width: 100%;
                margin-bottom: 15px;
            }
        }
        .btn {
            padding-top: 20px;
            margin: auto;
            a {
                &:after {
                    right: 20%;
                }
            }
        }
    }
    .footer {
        padding-top: 42px;
        .social {
            padding: 30px 0 40px;
            a {
                margin: 0 15px;
                width: 15%;
            }
        }
    }
}
